*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: #9266ff
}
.App{
  background: #3f3160;
  overflow-y: auto;
  max-height: 500px;
  padding-bottom: 5px;
  width: 430px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.3);
}
.App h1{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background: rgba(0,0,0,0.3);
  color: rgb(255, 106, 235);
}
#todo-form input{
  background: rgb(24, 137, 172);
  border: 0;
  width: 300px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 5px;
  color: #fff;
}
#todo-form input:hover{
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}
#todo-form input::placeholder{
  color: rgba(255, 255, 255, 0.7);
}
#todo-form input:focus{
  outline: none;
}
.App button{
  padding: 16px 25px;
  background: rgb(214, 157, 51);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  transition: .1s ease-in-out;
}
.App button:focus{
  outline: none;
}
.App button:hover{
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.2);
  background: rgb(194, 142, 47);
}
.App form{
  border-bottom: 1px solid rgb(75, 73, 73);
}



/* list item  */
.list-item{
  margin: 20px 5%;
  padding: 10px;
  margin-right: 37px;
  background: rgba(252, 252, 252, 1);
  border-radius: 4px;
  overflow-wrap: break-word;
}
.list-item .fa-trash{
  border-radius: 3px;
  padding: 7px;
  margin-top: -6px;
  background: rgba(0,0,0,0.2);
  float: right;
  cursor: pointer;
}
.list-item .fa-trash:hover{
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.1);
  animation: ring 2s infinite;
}


@keyframes ring{
  0%{transform: rotate(10deg);}
  10%{transform: rotate(-10deg);}
  20%{transform: rotate(10deg);}
  30%{transform: rotate(-10deg);}
  40%{transform: rotate(10deg);}
  50%{transform: rotate(-10deg);}
  60%{transform: rotate(10deg);}
  70%{transform: rotate(-10deg);}
  80%{transform: rotate(10deg);}
  90%{transform: rotate(-10deg);}
  100%{transform: rotate(10deg);}
}